<main>
    У Вас новый абитуриент на курс: "<%=locals.name %>"<br />
    <br />
    ФИО абитуриента: <%=locals.fullNameStudent %><br />
    Телефон абитуриента: <%=locals.studentPhone %>9<br />
    <br />
    ФИО представителя: <%=locals.fullNameParent %><br />
    Телефон представителя: <%=locals.parentPhone %><br />
</main>